
    
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <h2 class="navbar-brand">
            <img src="assets/icons/Seekh.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            SEEKH
          </h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="float: right;">
            <input class="me-2" type="search" placeholder="Search" aria-label="Search">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #F96815;" routerLink="/about">About</a>
          </li><li class="nav-item">
            <a class="nav-link x-5" aria-current="page" href="#">FAQ</a>
          </li>
          <a routerLink="/signup"><button class="btn login" routerLink="/login">Sign In</button></a>
          
        </ul>
      </div>
    </div>
  </nav>

  <div>

    <div class="card text-center">
        <img class="hero-img" src="assets/pics/about-hero.png" alt="">
        <h1 class="container heroContent">
            Our mission is to improve people's lives through learning.
        </h1>
    </div>


     <!--Story Section-->

    <section class="story-section text-left-align container my-5">
        <div class="row">
            <div class="col-sm">
                <h1>Our Story</h1>
                <p>Seekh is an edutainment platform. We started Seekh to close the gap of inequality in professional & digital skills. Plus, the lack of great storytelling & universal access to high-quality learning.</p>
                <br>
                <p>By teaching the skills needed in tommorow’s world, Seekh empowers people to advance their careers, improve their lives, and pursue — the work they love & the work that will earn them money & satisfaction.</p>
                <br>
                <p>In Seekh, you can learn & do everything you want.</p>
            </div>

            <div class="col-sm">
                <div class="card card-story">
                    <div class="card-body text-center">2021
                      <p>Launched Year</p>
                    </div>
                    
                </div>
                <div class="card card-story">
                    <div class="card-body text-center">120k
                      <p>Course Enrollments</p>
                    </div>
                    
                </div>
                <div class="card card-story">
                    <div class="card-body text-center">40
                      <p>Top Instructors</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </section>


     <!--Empower Section-->


    <section class="empower-section text-left-align container my-5 t-5">
        <h1 class="text-center">At Seekh, We Empower</h1>

        <div class="row">
            <div class="col-sm">
                <img src="assets/icons/Gradient-Icon.png" alt="">
                <h4>Students to</h4>
                <p>Get inspired, learn new skills, and make discoveries.</p>
            </div>
            <div class="col-sm">
                <img src="assets/icons/Gradient-Icon (1).png" alt="">
                <h4>Instructors to</h4>
                <p>Share expertise, earn money, and give back.</p>
            </div>
            <div class="col-sm">
                <img src="assets/icons/Gradient-Icon (2).png" alt="">
                <h4>Employees to</h4>
                <p>Be curious, make an impact, and live a full life.</p>
            </div>
        </div>
    </section>

    <!--Instructors section-->
    <section class="instructor-section text-left-align container my-5 t-6">
        <h1 class="text-center">Our Instructors</h1>
        <p class="text-center">Seekh instructors are icons, experts, and industry rock stars excited to share their experience with you.</p>
              <!-- Gallery -->
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="assets/icons/instructor_1.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />

          <img
            src="assets/icons/2.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="assets/icons/3.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />

          <img
            src="assets/icons/4.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />
        </div>

        <div class="col-lg-4 mb-2 mb-lg-1">
          <img
            src="assets/icons/5.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />

          <img
            src="assets/icons/6.png"
            class="w-100 shadow-1-strong rounded mb-4"
            
          />
        </div>
      </div>
      <!-- Gallery -->
    </section>

     <!--Form Section-->

    <section class="form-section text-left-align container">
        <div class="row">
            <div class="col">
                <h1>A Great Place to Grow</h1>
                <p>Seekh employees live out our values everyday as learners and teachers ourselves. Our culture is diverse and committed to personal and professional development.</p>
                <br>
                <p>Every month or so we’ll let you know about new job opportunities.</p>
            </div>
            <div class="col">
                <form>
                    <h4>Sign up to be the first to know about open roles!</h4>
                    
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="First Name" >
                    </div>

                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Last Name">
                    </div>

                    <select class="form-select mb-3" aria-label="Default select example">
                        <option selected>Role you'd be interested in</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address" required>
                      </div>
                    
                    <button type="submit" class="btn btn-orange container">Subscribe</button>
                  </form>
    
            </div>
        </div>
    </section>

    <!--Footer Section-->

    <!-- Footer -->
<footer class="bg-dark text-center text-white my-5">
  <!-- Grid container -->
  <div class="p-4">

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src="assets/icons/Seekh.png" alt="">
          <h5 class="text-uppercase">SEEKH</h5>
          <p>
            We are combining beautiful storytelling & beautiful minds to create a future for the entire country on India.
          </p>
        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">Courses</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Categories</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">FAQ</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Community</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">Workshop</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Mobile App</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">
                <img src="assets/icons/AppStore.png" alt="">
              </a>
            </li>
            <li>
              <a href="#!" class="text-white">
                <img src="assets/icons/GooglePlay.png" alt="">
              </a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
<!-- Grid container -->
<div class="p-4 pb-0">


  <div class="row">
    <div class="col-sm">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © SEEKH 2021. All rights reserved.
    
        </div>
        <!-- Copyright -->
    </div>

    <div class="col-sm">
      
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><img src="assets/icons/fb_icon.png" alt=""></a>

        <!-- Twitter -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><img src="assets/icons/twitter_icon.png" alt=""> </a>

        <!-- Instagram -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><img src="assets/icons/instagram_icon.png" alt=""></a>

        <!-- YouTube -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><img src="assets/icons/youtube_icon.png" alt=""></a>

      </section>
      <!-- Section: Social media -->
    </div>

  </div>
  

</div>
<!-- Grid container -->
  
</footer>
<!-- Footer -->

  </div>
