* {
    color: white;
    background-color: black;
}

.card {
    margin: auto;
    background-color: black;
}

.card-story {
    border: 2px solid white;
    padding: 0.2rem;
    margin: 2rem;
    width: 10.5em;
    height: 7em;
    

}

.btn-orange {
    background-color: #F96815;
}

h1 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;;
}

.login {
    border: 2px #F96815 solid;
    background-color: black;
}

p {
    font-size: 0.9rem;
}

.hero-img {
    margin: auto;
    width: 90%;
    height: auto;
}

.heroContent {
    margin: auto;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }