
    
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.figma.com/file/vJHBiHgXL3AaajYIW490bF/Seekh---Website?node-id=275%3A256" alt="" width="30" height="24" class="d-inline-block align-text-top">
            SEEKH
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 float-right">
            <input class="me-2" type="search" placeholder="Search" aria-label="Search">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li><li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">FAQ</a>
          </li>
          <button class="btn btn-outline-success" href="#">Sign In</button>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="card">
        <img src="" alt="">
        <div class="container">
            Our mission is to improve people's lives through learning.
        </div>
    </div>


     <!--Story Section-->

    <div class="story-section">
        <div class="row">
            <div class="col-sm">
                <h1>Our Story</h1>
                <p>Seekh is an edutainment platform. We started Seekh to close the gap of inequality in professional & digital skills. Plus, the lack of great storytelling & universal access to high-quality learning.</p>
                <br>
                <p>By teaching the skills needed in tommorow’s world, Seekh empowers people to advance their careers, improve their lives, and pursue — the work they love & the work that will earn them money & satisfaction.</p>
                <br>
                <p>In Seekh, you can learn & do everything you want.</p>
            </div>

            <div class="col-sm">
                <div class="card card-story">
                    <h1>2021</h1>
                    <p>Launched Year</p>
                </div>
                <div class="card card-story">
                    <h1>120k</h1>
                    <p>Course Enrollments</p>
                </div>
                <div class="card card-story">
                    <h1>40</h1>
                    <p>Top Instructors</p>
                </div>
            </div>
        </div>

    </div>


     <!--Empower Section-->


    <div class="empower-section gb">
        <h1>At Seekh, We Empower</h1>

        <div class="row">
            <div class="col-sm">
                <img src="" alt="">
                <h4>Students to</h4>
                <p>Get inspired, learn new skills, and make discoveries.</p>
            </div>
            <div class="col-sm">
                <img src="" alt="">
                <h4>Instructors to</h4>
                <p>Share expertise, earn money, and give back.</p>
            </div>
            <div class="col-sm">
                <img src="" alt="">
                <h4>Employees to</h4>
                <p>Be curious, make an impact, and live a full life.</p>
            </div>
        </div>
    </div>

    <div class="instructor-section">
        <h1>Our Instructors</h1>
        <p>Seekh instructors are icons, experts, and industry rock stars excited to share their experience with you.</p>
    </div>

     <!--Form Section-->

    <div class="form-section">
        <div class="row">
            <div class="col">
                <h1>A Great Place to Grow</h1>
                <p>Seekh employees live out our values everyday as learners and teachers ourselves. Our culture is diverse and committed to personal and professional development.</p>
                <br>
                <p>Every month or so we’ll let you know about new job opportunities.</p>
            </div>
            <div class="col">
                <form>
                    <h4>Sign up to be the first to know about open roles!</h4>
                    
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="First Name" >
                    </div>

                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Last Name">
                    </div>

                    <select class="form-select mb-3" aria-label="Default select example">
                        <option selected>Role you'd be interested in</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address" required>
                      </div>
                    
                    <button type="submit" class="btn container">Subscribe</button>
                  </form>
    
            </div>
        </div>
    </div>

    <!--Footer Section-->

    <footer>

    </footer>

  </div>
