
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="image.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            SEEKH
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-right ">
          <li class="nav-item">
            <a class="nav-link " href="#">Already have an account?</a>
          </li>
          <button class="btn login ">Login</button>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="card">
    <div class="row">
        <div class="col-sm">
            <img src="/seekh-website/src/assets/pics/sample.png" alt="">
        </div>
        <div class="col-sm">
            <form>
                <button class="btn google container">
                    <img class="icon" src="/seekh-website/src/assets/icons/icons8-google.svg" alt="">
                    SIGN UP WITH GOOGLE</button>
                <br>
                <br>
                <button class="btn fb container">
                    <img class="icon" src="/seekh-website/src/assets/icons/icons8-facebook.svg" alt="">
                    SIGN UP WITH FACEBOOOK</button>
                <br>
                <hr>
                <div class="mb-3">
                  <input type="text" class="form-control container" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="mb-3">
                  <input type="text"  class="form-control container" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button class="btn orange container">CREATE ACCOUNT</button>
                <br>
                <p class="font-small">By signing up or creating an account, you agree to our Privacy Policy and Terms of Service.</p>
              </form>
              
              
        </div>
    </div>
  </div>
  
